.center{
    align-items: center;
    display: flex;
    flex-direction: column;
    border-top: 3px solid black;
}

.hide{
    display: none;
}

.show {
    align-items: center;
    align-content: center;
    position: absolute;
    left: 45%;
    top: 10%;
    z-index: 100;
    border: 2px solid black;
    box-shadow: 10px 10px 10px 10px black;
    flex-direction: column;
    display: flex !important;
    background-color: #f0f8ff;
    padding: 10px;
    border-radius: 5px;
    width: max-content;
  }
  