<div class="center">
    <div *ngIf="!isConnected">
        <input type="texte" [(ngModel)]="user.username" placeholder="Nom d'utilisateur"/>
        <input type="password" [(ngModel)]="user.password" placeholder="Mot de passe" (keyup.enter)="connect()"/>
        <button (click)="connect()">Connexion</button>
    </div>


    <div *ngIf="isConnected">
        <div *ngIf="isAdmin;else isUser">
            <app-todo-list></app-todo-list>
            <app-user-list></app-user-list>
        </div>
    </div>


    <ng-template #isUser>
        <h1>Liste des tâches en cours:</h1>
        <button (click)="add()">Ajouter</button>
        <div *ngFor="let todo of todosPasFais">
            <td>{{todo.description}}</td>
            <td>{{todo.userId}}</td>
            <td>
                <button (click)="fais(todo)">Fais</button>
                <button (click)="modifier(todo)">Modifier</button>
                <button (click)="supprimer(todo)">Supprimer</button>
            </td>
        </div>
        
        <h1>Liste des tâches terminer :</h1>
        <div *ngFor="let todoFais of todosFais">
            <td>{{todoFais.description}}</td>
            <td>{{todoFais.userId}}</td>
            <td>
                <button (click)="supprimer(todoFais)">Supprimer</button>
            </td>
        </div>
    </ng-template>

    <div style="display: none"  [ngClass]="{'show': isAdding}">
        <input [(ngModel)]="newTodo.description" placeholder="Description" (keyup.enter)="ajouter()" />
        <button (click)="ajouter()">Ajouter</button>
    </div>
</div>